input[type=text],input[type=email]{
    border-radius: 20px;
    padding: 20px;
    width: 60%;

}
body {
    background-image: url("Images/sub.png");
    background-repeat: no-repeat;
    background-size: cover;
}
form{

    margin: 100px;
    width: 50%;
    padding-right: 350px;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 350px;


}


input[type=submit]{
    color: white;
    background-color: #000600;
    width: 72%;
    padding: 20px;
    border-radius: 20px;


}
input[type=submit]:hover{
    color: #ff50b3;
}