.art{
     padding-top: 150px;
    padding-left: 300px;
    padding-right: 300px;
    display: grid;
}
.u{
background-color: black;
    color: white;
    text-align: center;
    border-top-left-radius:   30px;
    border-top-right-radius: 15px;
}
body{
    background-image: url("Images/week.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}